body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#c4c4c4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#c4891d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#c4891d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

.highlight, header .current a{
  color:#c4891d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg') repeat;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}
#showcase_main{
  float:left;
  width:65%;
}



/* Appointment*/
#appointment h2{
  margin-top:50px;
  font-size:35px;
  margin-bottom:10px;
  color: black; 
  text-align:center;
}
#appointment h4{
  font-size:20px;
  margin-bottom:10px;
  color: black; 
  text-align:center;
}
#appointment{
	margin: 60px 60px 60px 80px;
	text-align:center-left;
	font-size:25px;
	color: red;
}
#appointment .quote input, .quote textarea, .quote select{
  width:40%;
  padding:5px;
  
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
 
}
#boxes{
	 background-color:white;
}

	

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  text-align: left;
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}
.w3-card-4{
	float:left;
	width:35%;
	
}


/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#cce6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#c4891d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #appointment form,
  #boxes .box,
  #showcase_main,
  article#main-col,
  aside#sidebar,.w3-card-4,#appointment .quote input, .quote select{
    float:none;
    text-align:center;
    width:100%;
  }

  #appointment{
	margin: 0px 0px 0px 0px;
	
}
  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  .quote button{
    display:block;
    width:100%;
  }
  #appointment button, .quote button{
    display:block;
    width:100%;
  }

  #appointment form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
