<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Dental Clinic">
  	<meta name="author" content="Manish Biyani">
    <title>Manish Dental Clinic | Welcome</title>
     <link rel="stylesheet" type="text/css" href="/style.css">
	<script language="JavaScript" type="text/javascript" src="/Appointment.js">
	</script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Manish</span> Dental Clinic</h1>
		  
        </div>
        <nav>
          <ul>
            <li><a href="home">Home</a></li>
            <li class="current"><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
			<li><a href="appointment">Appointment</a></li>
          </ul>
        </nav>
      </div>
    </header>


    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
		  <div class="w3-card-4">
		  <img src="./img/logo.jpg" alt="Dr Rajendra Biyani"><br>
		  <p><span class="highlight">Dr. Rajendra Biyani</span></p>
		  </div>
		  
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna. Nam eget eros non orci consectetur congue at ac augue. Proin eget arcu in enim feugiat ultricies. Curabitur maximus metus nec metus pretium viverra at et orci. Integer hendrerit ante ut placerat cursus.
          </p>
          <p>
Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt. Proin quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id dictum lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien convallis et. Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante. Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem. Sed lacinia nunc non interdum pellentesque.
          </p>
		  
		  <div class="dark">
            <h3>What We Do</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
          </div>
		  
        </article>

        
        
		<aside id="sidebar">
          <div class="dark">
            <h3>Sign Up</h3>
            <form class="quote" name="myForm" onsubmit="return validateForm2()" method="post">
  						<div>
  							<label>Name</label><br>
  							<input type="text" name="fname" placeholder="Name">
  						</div>
  						<div>
  							<label>Email</label><br>
  							<input type="email" name="email" placeholder="Email Address">
  						</div>
  						<div>
  							<label>Mobile</label><br>
  							<input id="telNo" name="telNo" type="tel" minlength="10" maxlength="12" placeholder="XXX-XXX-XXXX" required pattern="[1]{1}[0-9]{3}[0-9]{3}[0-9]{4}" title="Please provide only a mobile number with XXX-XXX-XXXX format">
  						</div>
  						<button class="button_1" type="submit">Send</button>
					</form>
          </div>
		  <div class="dark">
            <h3>Contact Information</h3>
				<label><span class="highlight">Dr. Rajendra Biyani</span></label><br>
  				<label>Mobile: XXXXXXXXXX</label><br>
  						
  				<div>
  					<label>Email: XXXXXXX@YYYY.com</label><br>
				</div>
				<div>
					<label>Address: Manish Dental Clinic, nr Baijnath Mahadev, Badnawar, Madhya Pradesh</label><br>
				</div>
					
          </div>
        </aside>
		
      </div>
    </section>

    <footer>
      <p>Manish Dental Clinic, Copyright &copy; 2017</p>
	  <a href="http://maps.google.com/?q=23.021818° N,75.232131° E">Address: Manish Dental Clinic, nr Baijnath Mahadev, Badnawar, Madhya Pradesh</a>
    </footer>
  </body>
</html>
